<div>
	<form id="formAddSupply" name="formAddSupply">
		<div class="row">
			<div class="col-md-8">
				<div class="form-group">
					<label for="model">Tipo de combustível</label>
					<select ng-model="fuelSupply.fuelType" ng-options="x as x.name for x in fuelTypes track by x.id" class="form-control" required="">
						<option value="" disabled="" selected="">Selecione</option>
					</select>
				</div>
				<div class="form-group">
					<label for="model">Quantidade</label>
					<input ng-model="fuelSupply.fuelQuantity" class="form-control" type="number" min="1" max="1000" required="" />
				</div>
				<div class="form-group">
					<label for="model">Distância percorrida</label>

					<div class="input-group">
						<input ng-model="fuelSupply.distanceTravelled" class="form-control" type="number" min="1" max="1000" required="" />
						<div class="input-group-addon">KM</div>
					</div>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="fuelSupply.isNewSerie"> Nova série
					</label>
				</div>

			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="model">Preço do combustível</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input ng-model="fuelSupply.fuelType.price | number : 2" class="form-control" readonly="" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label for="model">Total</label>

					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input ng-model="getTotalPrice() | number : 2" class="form-control" readonly="" type="text" />
					</div>
				</div>
			</div>
		</div>

		<div>
			<button class="btn btn-primary" ng-disabled="formAddSupply.$invalid" type="submit" ng-click="addSupply()">Adicionar abastecimento</button>
			<a ui-sref="cars.detail" class="btn btn-danger"  >Cancelar</a>
		</div>
	</form>

</div>

<pre>{{fuelSupply | json}}</pre>