



<table class="table table-striped table-bordered ">
	<thead>
		<tr>
			<th class="">Combustível</th>
			<th class="text-center">Quantidade</th>
			<th class="text-center">Preço</th>
			<th class="text-center">Valor total</th>
			<th class="">Data</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="x in car.fuelSupplies">
			<td class="">{{x.fuelType.name}}</td>
			<td class="text-center">{{x.fuelQuantity | number}} L</td>
			<td class="text-center">{{x.fuelPrice | currency}} L</td>
			<td class="text-center">{{x.totalPrice | currency}}</td>
			<td class="">{{x.fueledAt | date : medium}}</td>
		</tr>
	</tbody>
</table>