<div class="row" style="margin-bottom: 20px">
	<div class="col-xs-6 col-sm-4 col-md-3">

		<input ng-model="carSearch" type="search" class="form-control input-sm" placeholder="Filtrar" />
	</div>

	<div class="btn-group pull-right" role="group">
		<a ui-sref="cars.add" class="btn btn-default btn-sm">
			<i class="glyphicon glyphicon-plus"></i> Novo
		</a>
		<button ng-click="getCars()" class="btn btn-default  btn-sm">
			&nbsp;<i class="glyphicon glyphicon-refresh"></i>&nbsp;
		</button>
	</div>
</div>

<div class="table-responsive row">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="text-center">Placa</th>
				<th>Modelo</th>
				<th>Fabricante</th>
				<th class="text-center">Ano</th>
				<th class="text-center">Odômetro</th>
				<th class="text-center">Consumo</th>
				<th class="text-center">Custo / KM</th>
				<th class="text-center">Ação</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in cars| searchCar : carSearch | dateRange : filterStartDate : filterEndDate track by x.id">
				<td class="text-center">{{x.licencePlate | licencePlate | uppercase}}</td>
				<td>{{x.model}}</td>
				<td>{{x.manufacturer}}</td>
				<td class="text-center">{{x.year}}</td>
				<td class="text-center">{{x.odometer.currentDistance}} / {{x.odometer.totalDistance}} km</td>


				<td class="text-center">{{x.getFuelAverage() | number : 2}}</td>
				<td class="text-center">{{x.getCostAverage() | currency}}</td>

				<td class="text-center">
					<a ui-sref="cars.detail({id: x.id})" class="btn btn-link btn-primary" title="Editar">
						<i class="glyphicon glyphicon-pencil"></i>
					</a>
					<a ng-click="remove(x)" class="btn btn-link btn-danger" title="Remover">
						<i class="glyphicon glyphicon-remove"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
