<div>
	<!--<h4 class="sub-header" ng-if="car.id">{{car.model}} ({{car.licencePlate}})</h4>-->
	<form id="form_car" name="form_car">
		<input ng-model="car.id" type="hidden" />
		<div class="row">
			<div class="col-md-8">
				<fieldset>
					<legend ng-if="car.id">{{car.model}} ({{car.licencePlate}})</legend>

					<!-- model -->
					<div class="form-group">
						<label for="model">Modelo</label>
						<input id="model" ng-model="car.model" type="text" class="form-control" placeholder="Modelo" required="" maxlength="255" />
					</div>

					<!-- manufacturer -->
					<div class="form-group">
						<label for="manufacturer">Fabricante</label>
						<input id="manufacturer" ng-model="car.manufacturer" type="text" class="form-control" placeholder="Fabricante" required="" maxlength="255" />
					</div>

					<div class="row">
						<!-- licencePlate -->
						<div class="col-md-4 ">
							<div class="form-group">
								<label for="licencePlate">Placa</label>
								<input id="licencePlate" ng-model="car.licencePlate | uppercase" type="text" class="form-control" placeholder="Placa" required="" maxlength="7" />
							</div>
						</div>

						<!-- year -->
						<div class="col-md-4 ">
							<div class="form-group">
								<label for="year">Ano</label>
								<select class="form-control" ng-options="x for x in getYears()" ng-model="car.year">
									<option selected="" disabled="" value="">Selecione</option>
								</select>
							</div>
						</div>

						<!-- fuelTankSize -->
						<div class="col-md-4">
							<div class="form-group">
								<label for="fuelTankSize">Tanque de combustível</label>
								<input id="fuelTankSize" ng-model="car.fuelTankSize " type="number" class="form-control" placeholder="Quantidade" required="" min="1" max="1000" />
							</div>
						</div>
					</div>
				</fieldset>
			</div>

			<div class="col-md-4">
				<fieldset ng-if="car.id">
					<legend>Odômetro</legend>
					<div class="form-group">
						<label for="currentDistance">Distância parcial</label>
						<div class="input-group">
							<input id="currentDistance" ng-model="car.odometer.currentDistance | number : 2" type="text" class="form-control text-right" readonly="" />
							<div class="input-group-addon">KM</div>
						</div>
					</div>

					<div class="form-group">
						<label for="totalDistance">Distância total</label>
						<div class="input-group">
							<input id="totalDistance" ng-model="car.odometer.totalDistance | number : 2" type="text" class="form-control text-right" readonly="" />
							<div class="input-group-addon">KM</div>
						</div>
						<div class="text-right" style="margin-top: 5px;">
							<button class="btn btn-link" ng-click="resetOdometer()">Zerar</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div ng-show="showSaveForm()" class="form-group">
			<button type="submit" ng-click="save()" class="btn btn-primary" ng-disabled="form_car.$invalid">Salvar</button>
			<button ng-click="remove()" class="btn btn-danger float-left" type="reset">Excluir</button>
		</div>
	</form>

	<div ng-if="car.id">
		<h4>
			Abastecimentos

			<div class="btn-group pull-right" role="group">
				<!--<a ui-sref="cars.detail.supply.list" ng-if="showListFuelSupplies()" class="btn btn-default btn-sm ">
					<i class="glyphicon glyphicon-th-list"></i> Listar
				</a>-->
				<a ui-sref="cars.detail.supply.add({id: car.id, car: car})" ng-if="showAddFuelSupplies()" class="btn btn-default btn-sm">
					<i class="glyphicon glyphicon-plus"></i> Adicionar abastecimento
				</a>
			</div>
		</h4>

		<div ui-view="supplies" class="">
			<ng-include src="'assets/views/cars/cars.supply.list.html'"></ng-include>
		</div>
	</div>
</div>



<pre class="transformable hidden" ng-class="{'small':!isBig, 'big':isBig}" ng-click="isBig = !isBig">{{car | json}}</pre>