<div class="row" style="margin-bottom: 20px">
	<div class="col-xs-6 col-sm-4 col-md-3">
		<input ng-model="carSearch" type="search" class="form-control input-sm" placeholder="Filtrar" />
	</div>
	<div class="btn-group pull-right" role="group">
		<button ng-click="getFuelSupplies()" class="btn btn-default  btn-sm">&nbsp;<i class="glyphicon glyphicon-refresh"></i>&nbsp;</button>
	</div>
</div>


<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="">Combustível</th>
				<th class="text-center">Preço litro</th>
				<th class="text-center">Quantidade</th>
				<th class="text-center">Distância</th>
				<th class="text-center">Valor</th>
				<th class="text-center">Data</th>
			</tr>
		</thead>
		<tbody ng-repeat="(key, value) in fuelSupplies | searchCarPlate : carSearch| groupBy: 'carSupplied.id'">
			<tr>
				<td class="bold" colspan="6">
					{{value[key].carSupplied.model}} ({{value[key].carSupplied.licencePlate | licencePlate}})
				</td>
			</tr>
			<tr ng-repeat="x in value">
				<td class="">{{x.fuelType.name}}</td>
				<td class="text-center">{{x.fuelPrice | currency}} L</td>
				<td class="text-center">{{x.fuelQuantity | number : 0}} L</td>
				<td class="text-center">{{x.distanceTravelled | number : 0}} KM</td>
				<td class="text-center">{{x.totalPrice | currency}}</td>
				<td class="text-center">{{x.fueledAt | date}}</td>

			</tr>
		<tr>
			<td class="bold text-right">Soma/Média</td>
			<td class="text-center text-danger bold">{{getAverage(value, 'fuelPrice') | currency}}</td>
			<td class="text-center text-danger bold">{{getAverage(value, 'fuelQuantity') | number : 2}}</td>
			<td class="text-center text-danger bold">{{getTotal(value, 'distanceTravelled') | number}}</td>
			<td class="text-center text-danger bold">{{getTotal(value, 'totalPrice') | currency}}</td>
			<td class="text-center"></td>
		</tr>
		</tbody>
	</table>
</div>


<pre class="transformable" ng-class="{'small':!isBig, 'big':isBig}" ng-click="isBig = !isBig">
	{{fuelSupplies | json}}
</pre>