<div class="row text-right" style="margin-bottom: 20px">
	<div class="btn-group" role="group">
		<input class="form-control input-sm"type="search"/>
		<button ng-click="getFuelSupplies()" class="btn btn-default  btn-sm">&nbsp;<i class="glyphicon glyphicon-refresh"></i>&nbsp;</button>
	</div>
</div>




<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<!--<th class="">Carro</th>
				<th class="text-center">Placa</th>-->
				<th class="">Combustível</th>
				<th class="text-center">Preço</th>
				<th class="text-center">Quantidade</th>
				<th class="text-center">Valor total</th>
				<th class="text-center">Data</th>
				<th class="text-center">Ação</th>
			</tr>
		</thead>
		<tbody ng-repeat="(key, value) in fuelSupplies | groupBy: 'carSupplied.id'">
			<tr>
				<td class="bold" colspan="5">
					{{value[key].carSupplied.model}} ({{value[key].carSupplied.licencePlate | licencePlate}})
				</td>
			</tr>
			<tr ng-repeat="x in value">
				<td class="">{{x.fuelType.name}}</td>
				<td class="text-center">{{x.fuelPrice | currency}} L</td>
				<td class="text-center">{{x.fuelQuantity | number}} L</td>
				<td class="text-center">{{x.totalPrice | currency}}</td>
				<td class="text-center">{{x.fueledAt | date}}</td>

				<td class="text-center">
					<!--<a ui-sref="cars.detail({id: x.id})" class="btn btn-link btn-primary" title="Editar">
						<i class="glyphicon glyphicon-pencil"></i>
					</a>-->
				</td>
			</tr>
		</tbody>
	</table>
</div>


<pre class="transformable" ng-class="{'small':!isBig, 'big':isBig}" ng-click="isBig = !isBig">
	{{fuelSupplies | json}}
</pre>